In [4]:
import pandas as pd

Calculate the quantity of each model:

In [2]:
df_day1 = pd.read_csv('day1_171.csv')
quantidade_por_marca = df_day1['marca'].value_counts()
print(quantidade_por_marca)

marca
FIAT          66
VOLKSWAGEN    35
HYUNDAI       30
CHEVROLET     10
RENAULT        9
CITROEN        6
JEEP           4
TOYOTA         3
PEUGEOT        2
CHERY          2
MITSUBISHI     2
FORD           1
VOLVO          1
Name: count, dtype: int64

Number of cars: by brand and day

In [3]:
df_day1 = pd.read_csv('day1_171.csv')
df_day2 = pd.read_csv('day2_134.csv')
df_day3 = pd.read_csv('day3_128.csv')
df_day4 = pd.read_csv('day4_133.csv')
df_day5 = pd.read_csv('day5_141.csv')
df_day6 = pd.read_csv('day6_142.csv')
df_day7 = pd.read_csv('day7_139.csv')
df_day8 = pd.read_csv('day8_140.csv')
df_day9 = pd.read_csv('day9_144.csv')
df_day10 = pd.read_csv('day10_147.csv')
df_day11 = pd.read_csv('day11_150.csv')
df_day12 = pd.read_csv('day12_165.csv')
df_day13 = pd.read_csv('day13_166.csv')
df_day14 = pd.read_csv('day14_162.csv')
df_day15 = pd.read_csv('day15_171.csv')
df_day16 = pd.read_csv('day16_168.csv')
df_day17 = pd.read_csv('day17_177.csv')
df_day18 = pd.read_csv('day18_171.csv')
df_day19 = pd.read_csv('day19_167.csv')
df_day20 = pd.read_csv('day20_144.csv')
# Listar todos os DataFrames e datas correspondentes
dataframes = [df_day1, df_day2, df_day3, df_day4, df_day5, df_day6, df_day7, df_day8, df_day9,df_day10, df_day11,df_day12,df_day13,df_day14,df_day15,df_day16,df_day17,df_day18,df_day19,df_day20 ]
datas = ['26/02/2024', '27/02/2024', '28/02/2024', '29/02/2024', '01/03/2024', '02/03/2024', '03/03/2024', '04/03/2024', '05/03/2024', '06/03/2024', '07/03/2024','08/03/2024', '09/03/2024','10/03/2024', '11/03/2024', '12/03/2024', '13/03/2024', '14/03/2024', '15/03/2024','16/03/2024']

# Listar TODAS as marcas:
marcas = ['FIAT', 'VOLKSWAGEN', 'HYUNDAI', 'RENAULT', 'CHEVROLET', 'CITROEN', 'JEEP', 'TOYOTA', 'CHERY', 'PEUGEOT']

# Criar um Df vazio:
tabela_quantidade = pd.DataFrame(index=datas, columns=marcas)

# Preencher o Df com a contagem de itens de cada marca para cada data:
for i, df in enumerate(dataframes):
    data = datas[i]
    for marca in marcas:
        quantidade = df[df['marca'] == marca].shape[0]
        tabela_quantidade.at[data, marca] = quantidade

# Preencher os valores ausentes com zeros:
tabela_quantidade.fillna(0, inplace=True)

# tabela final
print(tabela_quantidade)

           FIAT VOLKSWAGEN HYUNDAI RENAULT CHEVROLET CITROEN JEEP TOYOTA  \
26/02/2024   66         35      30       9        10       6    4      3
27/02/2024   49         32      19       9         9       5    3      2
28/02/2024   48         30      17       8         8       5    4      2
29/02/2024   49         33      18       8         8       5    4      2
01/03/2024   52         34      18       9         9       6    4      2
02/03/2024   54         34      18       9         9       6    3      2
03/03/2024   54         32      17       9         9       6    3      2
04/03/2024   54         32      17       9         9       6    3      2
05/03/2024   55         33      20       9        10       6    4      2
06/03/2024   55         35      19      10        10       6    4      2
07/03/2024   55         36      22      11         9       6    4      1
08/03/2024   61         40      26      11         8       6    6      1
09/03/2024   65         38      25      11         8       7    5      1
10/03/2024   64         37      24      11         8       6    5      1
11/03/2024   66         36      25      12         8       7    6      2
12/03/2024   67         36      22      12        11       6    6      2
13/03/2024   70         35      22      15        12       6    6      2
14/03/2024   71         33      23      13        10       6    5      3
15/03/2024   70         31      23      13        10       6    3      4
16/03/2024   62         27      17      12         6       6    4      2

           CHERY PEUGEOT
26/02/2024     2       2
27/02/2024     2       0
28/02/2024     2       0
29/02/2024     2       1
01/03/2024     3       1
02/03/2024     3       1
03/03/2024     3       1
04/03/2024     3       2
05/03/2024     2       1
06/03/2024     2       0
07/03/2024     2       0
08/03/2024     2       0
09/03/2024     2       0
10/03/2024     2       0
11/03/2024     3       2
12/03/2024     1       2
13/03/2024     2       4
14/03/2024     1       3
15/03/2024     1       3
16/03/2024     2       3

Save to excel and CSV file:

In [ ]:
tabela_quantidade = tabela_quantidade.to_excel ('tabela_quantidade.xlsx')
tabela_quantidade = tabela_quantidade.to_csv ('tabela_quantidade.csv')